public_html/DB_HW3/movie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="mymovietype">
		<xs:sequence>
			<xs:element name="Movie_ID" type="xs:string" minOccurs="1"/>
			<xs:element name="Title" type="xs:string" minOccurs="1"/>
			<xs:element name="Director" type="xs:string" minOccurs="1"/>
			<xs:element name="Writer" type="xs:string" minOccurs="1"/>
			<xs:element name="Genre" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="Release_Date" type="xs:date" minOccurs="1"/>
			<xs:element name="Runtime" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="movie">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="movie_list" type="mymovietype" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
